/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: ;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
}

/* Estilos para o menu de navegação */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2F4F4F;
  z-index: 999;
  transition: background-color 0.3s ease;
}

.menu.scrolled {
  background-color: #000;
}

/* Estilos para os detalhes do evento */
.listaEventos {
    margin-top: 100px; /* Ajuste a margem superior conforme necessário */
}

/* Estilos para o formulário de adicionar evento */
.formEvento {
  margin-top: 200px; /* Ajuste a margem superior conforme necessário */
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
}

.formEvento input[type="text"],
.formEvento button {
  margin-top: 100px;
}

/* Estilos para os detalhes do evento */
.detalhesEvento {
  margin-top: 80px; /* Ajuste a margem superior conforme necessário */
}

.detalhesEvento h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detalhesEvento p {
  margin: 5px 0;
}

/* Estilos para o formulário de adicionar convidado */
.formConvidado {
  margin-top: 20px; /* Ajuste a margem superior conforme necessário */
}

.formConvidado input[type="text"],
.formConvidado button,
.formEvento input[type="text"],
.formEvento button {
  margin-top: 10px;
}

/* Estilos para a tabela de convidados */
.tabelaConvidado {
  margin-top: 20px;
  width: 100%;
}

.tabelaConvidado th,
.tabelaConvidado td {
  border: 1px solid #2F4F4F;
  padding: 5px;
  text-align: left;
}

.tabelaConvidado th {
  background-color: #2F4F4F;
  color: #fff;
}

.tabelaConvidado td a {
  color: #2F4F4F;
  text-decoration: none;
}

.tabelaConvidado td a:hover {
  color: #2F4F4F;
}
